page-checkout-hotel,
.checkout-hotel {

  .bg-filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
ion-select{
    max-width: 90%;
}

.card-bank{
    margin: 5px;
}

.break{
    white-space: normal;
}

.error-form{
    text-decoration: none!important;
}

.gray{
    color: #999999!important;
}



.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    -webkit-box-shadow: inset 0 -1px 0 0 #dedede;
    box-shadow: inset 0 -1px 0 0 #dedede;
}

.iti-flag {
    width: 20px;
    height: 15px;
    box-shadow: 0px 0px 1px 0px #888;
    background-image: url("../../assets/img/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0
}



