page-filter-hotel-popover {

  /*.popover-md .popover-content {
    width: 100px!important;
  }*/
  /*.popover-content {
    top: 12px;
    left: 262px;
    transform-origin: right top 0px;
    transform: scale(1);
  }*/

}
