page-hotel-detail,
.hotel-detail {

  .scroll-content {
    margin-top: 0 !important;
  }

  .price-info {
    background: #00937F;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 4.5rem;

    .sale-price,
    .price {
      font-size: 2rem;
    }

    .origin-price {
      text-decoration: line-through;
    }

    button {
      color: color($colors, primary);
    }
  }

  .service-name {
    display: block;
    font-size: 0.8em;
  }

  #map-detail {
    width: 100%;
    height: 200px;
  }

  .room-info {

    .room-image {
      width: 100%;
      height: 120px;
      background-size: 100% auto;
      background-position: center;
    }

    .room-features {

      ion-icon {
        min-width: 1.5rem;
        text-align: center;
      }
    }
  }
}
