page-filter-hotel {

    .bg-header-list {
        background-color: #dedede;
        height: 50px;
    }


    ion-row {
        .marging-top {
            margin-top: 15px !important;

        }
    }
}
