page-search-cars,
.search-cars {

  ion-list {
    border-radius: 3px;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
}
