page-flights,
.flights {
  background: url("../assets/img/bg3.jpg");
  background-size: 100% 100%;

  .scroll-content {
    background: rgba(0, 0, 0, 0.2);
  }

  .content-top {
    margin-top: 10rem;
  }

  .flight {
    border-radius: 2px;
    background-color: #EFEFEF;
  }
}

.flights-footer {
  .toolbar {
    padding: 0;

    .toolbar-background {
      border: none;
    }
  }

  button {
    width: 48%;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    background: none;
    font-size: 1.2rem;
    color: color($colors, light);

    &.activated {
      background: none;
    }

    &:first-child {
      border-right: 1px solid color($colors, dark);
    }
  }
}
