// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
// import pages css

// end import pages css

// global styles

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.common-bg {
  background-color: color($colors, bg-color);
}

.light-bg {
  background-color: color($colors, light);
}

.dark-bg {
  background-color: color($colors, dark);
}

.orange-bg {
  background-color: color($colors, orange);
}

.flight-bg {
  background-color: color($colors, flight-color);
}

.car-bg {
  background-color: color($colors, car-color);
}

.activity-bg {
  background-color: color($colors, activity-color);
}

.transport-bg {
  background-color: color($colors, transport-color);
}

.padding-xs {
  padding: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.round {
  border-radius: 3px;
  overflow: hidden;
}

.no-round {
  border-radius: 0;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

.full-width {
  width: 100%;
}

.padding-sm {
  padding: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

// navbar style
ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

// item style
.item.no-border {

  .item-inner {
    border: none;
  }
}

// transparent nav bar
.toolbar.nav-transparent {

  .toolbar-background {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// style for auth pages
.auth-page {
  background: url("../assets/img/bg2.jpg") no-repeat center;
  background-size: 100% 100%;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);

    .login-content {
      width: 86%;

      .logo {
        margin: 20px auto 0;
        padding: 0.1em 0.35em 0.1em 0.36em;
        width: 1.6em;
        border-radius: 10%;
        font-size: 3em;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, light);
          }

          input {
            color: color($colors, light);
          }
        }
      }
    }
  }
}

// styles for hotels
.hotel-bg {
  border-radius: 3px;
  background-position: center;

  .bg-filter {
    position: relative;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);

    .bottom-info {
      position: absolute;
      width: 100%;
      bottom: 1rem;
      padding: 1rem;
    }
  }

  .discount {
    position: absolute;
    padding: 0.5rem 1rem;
    top: 0;
    right: 16px;
    background: color($colors, secondary);
    color: #FFF;
  }

  .origin-price {
    color: #C0C0C0;
    text-decoration: line-through;
  }

  .sale-price,
  .price {
    font-size: 1.8rem;
  }
}

// style for slider
ion-slides.to-top {
  height: auto;
  margin-bottom: -5px;

  .swiper-pagination {
    display: block !important;

    .swiper-pagination-bullet {
      background: color($colors, light);
    }
  }
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
  color: color($colors, bg-color);
  pointer-events: none;
}

// checkout info style
.checkout-info {

  span {
    font-size: 1.2rem;
  }
}

// remove shadow from header
.md {
  ion-header {
    &.no-shadow::after {
      background-image: none;
    }
  }

  ion-toolbar,
  ion-navbar {
    .button,
    .button.activated {
      box-shadow: none;
    }
  }
}

.ios {
  ion-list ion-item,
  .list-hotels .hotel-bg {
    pointer-events: none;
  }
}
