<ion-header>

    <ion-navbar color="primary">
        <ion-title>Hoteles</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="search-hotel common-bg">
    <ion-list class="list-no-border">

        <ion-item>
            <!--<ion-input [(ngModel)]="querySearch"
                       (ngModelChange)="autocomplete(querySearch)"
                       placeholder="Buscar Destino"
                       padding-left autofocus>
            </ion-input>-->
            <ion-searchbar
                    [(ngModel)]="querySearch"
                    (ngModelChange)="autocomplete(querySearch)"
                    [showCancelButton]="shouldShowCancel"
                    (ionInput)="onSearchInput($event)"
                    placeholder="Buscar Destino">
            </ion-searchbar>
        </ion-item>
        <ion-list no-lines>
            <button ion-item *ngFor="let item of items" (click)="itemSelected(item.id, item.description)">
                {{ item.description }}
            </button>
        </ion-list>
        <ion-item>
            <ion-icon name="md-calendar" item-left></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          pickerFormat="YYYY-MM-DD"
                          [(ngModel)]="search.from"
                          min="{{search.from}}" max="{{maxDate}}"
                          (ngModelChange)="changeFromDate(search.from)"
            ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon name="md-calendar" item-left></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          pickerFormat="YYYY-MM-DD"
                          [(ngModel)]="search.to"
                          min="{{minDate}}" max="{{maxDate}}"
                          (ngModelChange)="changeToDate(search.to)"
            ></ion-datetime>
        </ion-item>

        <button ion-button
                class="no-round add-room"
                block no-margin
                color="primary"
                (click)="addRoom()"
                [hidden]="roomsArray.length > 3"
        >
            Nueva Habitación
        </button>

        <ion-item-sliding *ngFor="let room of roomsArray; let i = index" >
            <ion-item (click)="goRoom(room.room)">
                <ion-icon name="md-people" item-left></ion-icon>
                <span>Habitacion {{room.room}} - Huéspedes {{ room.persons }} </span>
            </ion-item>

            <ion-item-options side="right" [hidden]="room.room < 2">
                <button ion-button color="danger">
                    <ion-icon ios="ios-trash" md="md-trash" (click)="removeRoom(room.room)"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item>
            <ion-label>Moneda</ion-label>
            <ion-select [(ngModel)]="currency">
                <ion-option value="ARS">ARS</ion-option>
                <ion-option value="USD">USD</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <!-- search button -->
    <button ion-button class="no-round" block no-margin color="primary" (click)="doSearch()">Buscar</button>
</ion-footer>
