<ion-header>

    <ion-navbar color="primary" [hideBackButton]="true">
        <ion-title>Buscar Hoteles</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="search-hotel common-bg">
    <ion-list class="list-no-border">

        <ion-searchbar
            no-margin
            no-padding
            [(ngModel)]="querySearch"
            (ngModelChange)="autocomplete(querySearch)"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onSearchInput($event)"
            (ionInput)="onSearch()"
            placeholder="Buscar Destino">
        </ion-searchbar>

        <ion-list no-lines>

            <ion-row *ngIf="searching">
                <ion-col text-center="">
                    <ion-spinner></ion-spinner>
                </ion-col>
            </ion-row>

            <div *ngIf="querySearch?.length > 0">
                <button ion-item *ngFor="let item of items" (click)="itemSelected(item.id, item.description, item?.hotel_id, item?.geolocation.latitude, item?.geolocation.longitude)">
                    {{ item.description }}
                </button>
            </div>
        </ion-list>
        <ion-item>
            <ion-icon name="md-calendar" item-left></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          pickerFormat="YYYY-MM-DD"
                          [(ngModel)]="search.from"
                          min="{{minDate}}" max="{{maxDate}}"
                          (ngModelChange)="changeFromDate(search.from)"
            ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon name="md-calendar" item-left></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          pickerFormat="YYYY-MM-DD"
                          [(ngModel)]="search.to"
                          min="{{minDate}}" max="{{maxDate}}"
                          (ngModelChange)="changeToDate(search.to)"
            ></ion-datetime>
        </ion-item>

        <button ion-button class="no-round add-room" full color="primary" (click)="addRoom()" [hidden]="roomsArray.length > 3">
            Nueva Habitación
        </button>

        <ion-item-sliding *ngFor="let room of roomsArray; let i = index" >
            <ion-item (click)="goRoom(room.room)">
                <ion-icon name="people" item-left></ion-icon>
                <span>Habitacion {{room.room}} - Huéspedes {{ room.persons }} </span>
            </ion-item>

            <ion-item-options side="right" [hidden]="room.room < 2">
                <button ion-button color="danger">
                    <ion-icon ios="ios-trash" md="md-trash" (click)="removeRoom(room.room)"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item>
            <ion-label>Moneda</ion-label>
            <ion-select [(ngModel)]="currency">
                <ion-option value="ARS">ARS</ion-option>
                <ion-option value="USD">USD</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <button ion-button class="no-round" block no-margin color="primary" (click)="doSearch()">Buscar</button>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-footer>
