<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-input placeholder="Enter Destination" padding-left autofocus></ion-input>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="list-no-border">
    <!--nearby places-->
    <ion-item *ngFor="let item of places.nearby" (click)="searchBy(item.id)">
      <ion-icon name="md-locate" item-left color="primary"></ion-icon>
      <span ion-text color="dark">{{ item.name }}</span>
    </ion-item>
    <!--recent places-->
    <ion-item *ngFor="let item of places.recent" (click)="searchBy(item.id)">
      <ion-icon name="md-time" item-left color="primary"></ion-icon>
      <span ion-text color="dark">{{ item.name }}</span>
    </ion-item>
  </ion-list>
</ion-content>
