page-welcome,
.login {

}

.logo-vs {
  width: 80%;
}

.login-content {
  margin-top: 5% !important;
}

.button-enter {
  margin-top: 60%;
}

.logo-bg-vs {
  margin: 20px auto 0;
  padding: 0.1em 0.35em 0.1em 0.36em;
  border-radius: 10%;
}