page-checkout-hotel-complete {

}

.success-msg{
    color: #02B57E!important;
    margin-top: -0.3rem!important;
    margin-bottom: 1rem!important;
    font-size: 2rem!important;
    font-weight: bold!important;
}

.check-span {
    font-size: 1.6rem;
}
