<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="activity-color">
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="checkout-trip common-bg">
  <!--trip information-->
  <div class="checkout-info card round" padding-sm>
    <ion-grid>
      <ion-row>
        <ion-col width-66>
          <h5>{{ trip.name }}</h5>
          <div>
            <span class="bold">{{ trip.sub_name }}</span>
            <br/>
            <span ion-text color="dark">{{ adults }} Adults</span>
          </div>
          <div margin-top>
            <span ion-text color="dark">{{ date | date: 'EEE, MMM dd' }}</span>
            <br/>
            <span ion-text color="dark">{{ trip.location }}</span>
          </div>
          <div margin-top>
            <ion-icon name="checkmark" color="activity-color" *ngIf="trip.free_cancellation"></ion-icon>
            <span ion-text color="dark" *ngIf="trip.free_cancellation">Free cancellation</span>
          </div>
        </ion-col>
        <ion-col col-4>
          <span ion-text color="dark">Total with Tax</span>
          <h5 no-margin>{{ trip.price_adult * adults | currency:'USD':true }}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--more info-->
  <div class="card round" margin-top>
    <ion-item class="no-border">
      <ion-icon name="contact" item-left></ion-icon>
      <span>Enter traveler details</span>
    </ion-item>
  </div>

  <!--payment info-->
  <div class="card round" margin-top>
    <ion-item class="no-border">
      <ion-icon name="ios-card" item-left></ion-icon>
      <div>
        <span class="bold">Payment method</span>
        <br/>
        <span>Enter credit card</span>
      </div>
    </ion-item>
  </div>

  <!--submit button-->
  <button ion-button class="round" color="activity-color" margin-top full (click)="send()">SEND</button>
</ion-content>
